body {
  margin: 0%;
  padding: 0%;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #242629;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* Header CSS Section */

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 12px;
  min-width: 100%;
  height: 50px;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #242629;
  z-index: 1;
}

.todo-a {
  text-decoration: none;
  font-size: 1rem;
  color: #fffffe;
  margin-left: 10px;
}

.todo-a:hover {
  text-decoration: underline;
  color: #fffffe;
}

.dis {
  margin-right: 20px;
  color: #fffffe;
  background: transparent;
  transition: all 0.5s ease-in-out;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  margin-left: 40px;
  flex: 1;
}

#search {
  border-radius: 5px;
  border-width: 2px;
  background-color: #242629;
  height: 33px;
  width: 600px;
  border-style: none;
  box-sizing: border-box;
  padding: 5px;
  font-weight: 700;
  color: #fffffe;
}

#search:focus {
  outline: none;
  background-color: #242629;
  caret-color: #fffffe;
}

#search:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  #search {
    width: calc(100% - 100px);
  }
}

/* Menu CSS Section */
#btn-profile {
  color: #fffffe;
  border: none;
  background: transparent;
}

#dropdownMenuButton {
  background: transparent;
  border: none;
  color: #fffffe;
}

#dropdownMenuButton:hover {
  opacity: 0.6;
}

#btn-profile:focus {
  outline: none;
  box-shadow: none;
}

#btn-menu,
#btn-menu:focus,
#btn-menu:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Remove any padding */
  background: none; /* Set the background to none */
  border: none; /* Remove the border */
  cursor: pointer; /* Add cursor pointer to indicate interactivity */
}

#btn-menu svg {
  width: 100%;
  height: 100%;
  fill: #fffffe;
}

#btn-menu:hover {
  transform: translateY(-2px);
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
}

#btn-menu:active {
  margin-bottom: -5px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: calc(100vh - 50px);
  color: #fffffe;
  padding-right: 10px;
  margin-top: 50px;
  transform: translateX(-200px);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  box-shadow: 0 9px 5px rgba(0, 0, 0, 0.5);
  background-color: #16161a;
}

.sidebar a {
  display: block;
  font-size: 0.9rem;
  padding: 16px;
  text-decoration: none;
  font-weight: 100;
  color: #fffffe;
}

/* sidebar-divider most optimal settings */
.sidebar-divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #fffffe;
  width: 80%;
  margin-left: 10%;
}

.sidebar.showinstant {
  transform: translateX(0);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

/* List CSS Section */

.myForm {
  position: fixed;
  display: flex;
  margin-top: 90px;
  margin-left: 40px;
}

.myForm.move {
  margin-left: 220px;
}

.taskform {
  position: fixed;
  display: flex;
  margin-top: 160px;
  width: calc(100vw - 40px); /* set the width to 50% of the viewport width */
  height: calc(100vh - 310px);
  overflow-y: auto;
  overflow-x: hidden;
}

.baseAdd {
  position: fixed;
  flex: 1 1 auto;
  display: flex;
  flex-basis: 0;
  background-color: #16161a;
  border-color: #fffffe;
  align-items: center;
  border-style: none;
  border-width: 2px;
  border-radius: 13px;
  height: 50px;
  width: calc(100% - 100px);
  caret-color: #fffffe;
  color: #fffffe;
}

.taskform.move {
  transition: none;
  width: calc(100vw - 220px);
  .baseAdd {
    width: calc(100% - 300px);
  }
  .iTask {
    width: calc(100vw - 280px);
  }
  .iTaskCompleted {
    width: calc(100vw - 280px);
  }
}

.headingDay {
  margin-top: 2px;
  padding-left: 10px;
}

.headingDay.move {
  width: calc(100vw - 250px);
  .baseAdd {
    width: calc(100% - 280px);
  }
}

.baseAdd-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0; /* Remove any padding */
  background: transparent; /* Set the background to none */
  border: none; /* Remove the border */
  cursor: pointer; /* Add cursor pointer to indicate interactivity */
}

.iTask button svg path.check {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  fill: transparent;
}

.iTask button:hover svg path {
  fill: #7f5af0; /* Change the fill color on hover */
  animation: fillCheckMark 0.5s ease-in-out forwards; /* Apply the check mark animation on hover */
}

@keyframes fillCheckMark {
  0% {
    stroke-dashoffset: 18;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#baseAddInput-addTask-today {
  flex: 1 1 auto;
  font-size: 16px;
  font-weight: 600;
  padding: 0px;
  margin-right: 10px;
  flex-basis: 0;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  border: none;
  color: #fffffe;
}

#baseAddInput-addTask-today:focus {
  outline: none;
}

.addedTask {
  padding-right: 300px;
  padding-left: 10px;

  .lTask {
    list-style-type: none;
    margin-right: 0;
    padding: 0;
  }

  .iTask {
    position: relative; /* Add relative positioning */
    padding-right: 100px;
    margin-top: 3px;
    margin-bottom: 9px;
    flex: 1 1 auto;
    display: flex;
    flex-basis: 0;
    background-color: #16161a;
    border-color: none;
    align-items: center;
    border-style: none;
    border-width: 2px;
    border-radius: 13px;
    width: calc(100vw - 100px);
    min-height: 50px;
    overflow: auto;
    word-break: break-all;
    overflow-wrap: break-word;
    color: #fffffe;
  }

  .iTaskCompleted {
    position: relative; /* Add relative positioning */
    padding-right: 100px;
    margin-top: 3px;
    margin-bottom: 9px;
    flex: 1 1 auto;
    display: flex;
    flex-basis: 0;
    background-color: #16161a;
    border-color: #fffffe;
    align-items: center;
    border-style: none;
    border-width: 2px;
    border-radius: 13px;
    width: calc(100vw - 100px);
    min-height: 50px;
    overflow: auto;
    word-break: break-all;
    overflow-wrap: break-word;
    text-decoration: line-through;
    color: #fffffe;
  }
}

@keyframes itemAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.addedTask .iTaskCompleted {
  animation: itemAnimation 0.3s ease-in-out;
}

.addedTask .iTask {
  animation: itemAnimation 0.3s ease-in-out;
}


/* similar to the above for the side bar animation*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 10px 0px 10px 0px;
  padding-left: 15px;
  text-decoration: none;
  font-size: 20px;
  color: #fffffe;
  display: block;
  transition: 0.2s;
}

.sidebar a:hover {
  background-color: #7f5af0;
  border-radius: 6px;
  transform: translate3d(5px, 0, 0);
}

.sidebar .active {
  background-color: #7f5af0;
  border-radius: 6px;
  transform: translate3d(5px, 0, 0);
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 60px;
    padding: 0;
  }

  .sidebar a {
    padding: 10px 0px 10px 0px;
    padding-left: 15px;
    font-size: 0px;
  }

  .sidebar a:hover {
    background-color: #7f5af0;
    border-radius: 6px;
    transform: translate3d(0, 1px, 0);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  }

  .myForm.move {
    margin-left: 100px;
  }

  .taskform.move {
    width: calc(100vw - 100px);
    .iTask {
      width: calc(100vw - 165px);
    }
    .iTaskCompleted {
      width: calc(100vw - 165px);
    }
  }

  .headingDay.move {
    width: calc(100vw - 115px);
    .baseAdd {
      width: calc(100% - 165px);
    }
  }
}

.iTask:hover {
  transition: all 0.15s ease-in-out;
  transform: translate3d(-3px, -3px, 0);
  box-shadow: 3px 3px 0 0 #7f5af0;
}

.iTask:active {
  transition: all 0.15s ease-in-out;
  transform: translate3d(0, 0, 0);
  box-shadow: none;
}

.iTaskCompleted:hover {
  transition: all 0.15s ease-in-out;
  transform: translate3d(-3px, -3px, 0);
  box-shadow: #7f5af0;
}

.iTaskCompleted:active {
  transition: all 0.15s ease-in-out;
  transform: translate3d(0, 0, 0);
  box-shadow: none;
}

.taskContent {
  flex-grow: 1;
}

.buttonContainer {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.buttonContainerComplete {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.taskEdit,
.taskDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  padding: 0; /* Remove any padding */
  background: none; /* Set the background to none */
  border: none; /* Remove the border */
  cursor: pointer; /* Add cursor pointer to indicate interactivity */
}

.taskEdit svg,
.taskDelete svg {
  width: 100%; /* Make the SVG take up the full width of the button */
  height: 100%; /* Make the SVG take up the full height of the button */
  fill: currentColor; /* Inherit the color from the parent element */
}

.taskDelete:hover svg {
  scale: 1.2;
}

.taskEdit:hover svg {
  scale: 1.2;
}

.taskEditInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  padding-right: 100px;
  border-radius: 13px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(211, 211, 211, 0.534);
  padding-left: 10px;
  font-size: 16px;
  box-sizing: border-box;
  overflow: auto;
  word-break: break-all;
  overflow-wrap: break-word;
  outline: none;
  font-weight: 600;
  border-image-slice: 0;
  padding-left: 48px;
}

.myDay {
  font-size: 20px;
  font-weight: 400;
  color: #fffffe;
}

.completed {
  font-size: 20px;
  font-weight: 400;
  color: #fffffe;
}

.dateTime1 {
  font-weight: 400;
  opacity: 0.5;
  font-size: 1rem;
  color: lightgray;
}

.dateTime2 {
  font-weight: 400;
  opacity: 0.5;
  font-size: 1rem;
  color: lightgray;
}

.datetimebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5px;
}

.leadText {
  font-weight: 600;
  opacity: 0.8;
  font-size: 0.9rem;
  color: lightgray;
  overflow-y: auto;
}

.textAbout {
  margin-right: 30px;
  height: 550px;
  overflow: auto;
}

.textPrivacy {
  margin-right: 30px;
  height: 550px;
  overflow: auto;
}

.textTerms {
  margin-right: 30px;
  height: 550px;
  overflow: auto;
}

.home-guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: white;
  padding: 20px;
}

.home-guest h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.home-guest-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #16161a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.guest-submit {
  appearance: none;
  background-color: rgb(70, 70, 70);
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fffffe;
  cursor: pointer;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.guest-submit:disabled {
  pointer-events: none;
}

.guest-submit:hover {
  color: #fffffe;
  background-color: #7f5af0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.guest-submit:active {
  box-shadow: none;
  transform: translateY(0);
}

.toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: #dbdbdbb6;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  outline: none;
}

.toggle-btn:hover {
  color: #fffffe;
}

#username {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #dbdbdba2;
  color: #fffffe;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  outline: none;
}

#email {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #dbdbdba2;
  color: #fffffe;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  outline: none;
}

#password {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #dbdbdba2;
  color: #fffffe;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  outline: none;
}

#password:focus,
#username:focus,
#email:focus {
  border-bottom: 2px solid #fffffe;
  transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#password:focus::placeholder,
#username:focus::placeholder,
#email:focus::placeholder {
  color: #fffffe;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.usernametxt {
  color: #fffffe;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

.floating-alert {
  display: none;
  position: absolute;
  z-index: 999;
  top: 80%;
  left: 10%;
  transform: translateX(-50%);
  -moz-animation: floatingAlert cubic-bezier(0.68, -0.55, 0.265, 1.55) 3s forwards;
  -webkit-animation: floatingAlert cubic-bezier(0.68, -0.55, 0.265, 1.55) 3s forwards;
  -o-animation: floatingAlert cubic-bezier(0.68, -0.55, 0.265, 1.55) 3s forwards;
  animation: floatingAlert cubic-bezier(0.68, -0.55, 0.265, 1.55) 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-30%);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-30%)
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%)
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

.profileSet {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #242526;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 600px;

}

.profileSet li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #dbdbdb;
  color: #dbdbdb;
}

.profileSet li:last-child {
  border-bottom: none;
}

.profileSet li span {
  color: #adadad;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #4b4b4b;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.dropdown-item {
  color: #fffffe;
  font-size: 16px;
  font-weight: 450;
  line-height: normal;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #7f5af0;
  color: #fffffe;
  text-decoration: none;
}

.dropdown-item:active {
  background-color: #7f5af0;
  
}

